.blog-container{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.blog{
    border: 2px solid black;
    margin-top: 20px;
    /* padding: 20px 0; */
}
@media (max-width:750px){
    .blog-container{
        grid-template-columns: 1fr;
    }
}